html, body, div, p, ul, li, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {margin: 0px;padding: 0px;}
body{font:12px "宋体","Arial Narrow",HELVETICA;text-align:center; color:#666;}
a{text-decoration:none; color:#e34779;}
a:hover{text-decoration:underline;}
ul,li{list-style-type:none;}
img,a{border:0 none;}
#wrap{text-align:left;}
em,i{font-style:normal;}
strong,b{font-weight:normal;}
.fl,.fr{float:left;display:inline;} /*防止出现双边距*/
.fr{float:right;}

.clear{clear:both;}

.w980{width:980px;overflow:hidden; _zoom:1;margin:0 auto;}

.pc_overflow{overflow:hidden; _zoom:1;}/*防止浮动塌陷*/

.mt5{margin-top:5px;}
.mt3{margin-top:3px;}
.mt3{margin-top:3px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml35{margin-left:35px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt27{margin-top:27px;}
.mr10{margin-right:10px;}
.mr45{margin-right:70px;}
.mb10{margin-bottom:10px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pl20{padding-left:20px;}

.borderdashed{border-bottom:1px dashed #CCC;}
.bordersolid{border-bottom:1px solid #CCC;}

.gray{color:#666;}
