@charset "utf-8";
/* CSS Document */
/*top*/
img#logo{margin-top:32px;}
#top_right{height:95px; width:173px; background:url(../images/top.jpg) no-repeat center 48px; text-align:center;}
#top_right,#top_right a{color:#7A7A0A; font-weight:bold; font-size:15px; font-family:"微软雅黑","黑体","宋体"; line-height:50px;}

/*nav*/
div#nav{height:44px; background:url(../images/navbj.jpg) repeat-x;}
div#nav ul li{width:110px; line-height:44px; float:left; display:inline; text-align:center; background:url(../images/navimg.jpg) no-repeat right center;}
div#nav ul li.last{background-image:none;}
div#nav ul li a{font-size:18px; color:#363601; font-weight:100; font-family:"微软雅黑","黑体","宋体";}

/*content*/
div#content{background:url(../images/content_bg.jpg) repeat-x; height:359px;}
div#content h3{line-height:54px;}
div#left_con,div#center_con,div#right_con{border:1px solid #D7D7D7; background:url(../images/content_sm_bg.jpg) repeat-x; height:336px;}
div#left_con{width:325px; margin-left:2px; margin-right:15px;}
div#left_con img{margin:15px; margin-left:52px;}
div#left_con ul{width:275px; margin:0 auto;}
div#left_con ul li{background:url(../images/dashed.jpg) repeat-x center bottom;}
div#left_con ul li a{display:block; width:255px; background:url(../images/ico.jpg) no-repeat left center; padding-left:20px; line-height:30px;}
div#center_con{width:417px; margin-right:15px;}
div#center_con img{margin:25px; margin-left:45px;}
div#center_con p{width:380px; margin:0 auto; line-height:30px;}
div#right_con{width:331px; overflow:hidden;}
div#right_con img{margin:25px 35px 10px 35px; border-bottom:1px solid #D0CEC6;}
div#right_con p{width:250px; margin:0 auto; line-height:28px;}

/*bottom*/
div#bottom{background:url(../images/bottom_bg.jpg) repeat-x; height:316px;}
div#bottom h3{line-height:45px;}
div#left_bottom,div#right_bottom{border:1px solid #d7d7d7; background:url(../images/bottom_sm_bg.jpg) repeat-x; height:289px;}
div#left_bottom{width:325px; margin-left:2px; margin-right:15px;}
div#left_bottom embed{margin:20px auto;}
div#right_bottom{width:765px;}
div#right_bottom img{margin-top:15px; margin-right:40px}
div#right_bottom div.gundong{margin-left:15px;}

h3.index_title{background:url(../images/contentimg.jpg) no-repeat left center; padding-left:22px; margin-left:10px; color:#A16400; font-size:18px; font-weight:100; font-family:"微软雅黑","黑体","宋体";}
h3.index_title em{font-family:Arial, Helvetica, sans-serif; margin-left:5px;}

/*footer*/
div#footer{width:750px; margin:25px auto; color:#000; text-align:left; line-height:20px; height:50px;}

/*other_content*/
div#other_content{background:#FFF;}
div#other_content div#l_sidebar{width:250px; overflow:hidden;}
div#other_content div#l_sidebar ul.news_list li{margin-left:10px; background:url(../images/ico2.jpg) no-repeat left center; padding-left:10px;}
div#other_content div#l_sidebar ul.news_list li a{line-height:25px;}
div#other_content div#r_content{width:825px; overflow:hidden; margin-right:10px;}
div#r_content p{text-indent:2em; color:#000; font-family:"微软雅黑","黑体","宋体"; font-size:16px;}
h4{text-indent:2em; color:#1169EE; font-family:"微软雅黑","黑体","宋体"; font-size:16px;}

h2.ty_title{width:230px; background:#363601; height:35px; line-height:35px; color:#FFF; font-size:16px; font-weight:bold; padding-left:20px; font-family:"微软雅黑","黑体","宋体";}

ul.ty_nav{background:#DBDDE6; margin-bottom:11px;}
ul.ty_nav li{height:35px; border-top:1px solid #fff;}
ul.ty_nav li.first{height:19px;}
ul.ty_nav li a{display:block; margin-left:10px; line-height:35px; color:#000;}
ul.ty_nav li a:hover{background:#363601; color:#FFF; text-decoration:none;}

div.ty_title2{border-bottom:1px dashed #000;}
div.ty_title2 img{margin:10px 0;}

div.ty_newslist{margin-top:10px;}
div.ty_newslist h1{background:url(../images/lv-left.gif); height:30px; line-height:30px;}
div.ty_newslist h1 a{font-size:14px; color:#000; text-decoration:none; margin-left:15px;}
div.ty_newslist ul{border:1px solid #C1C1C1; border-top:none;}
div.ty_newslist ul li{text-align:right; background:url(../images/news_list_border.jpg) repeat-x center bottom; line-height:36px;}
div.ty_newslist ul li a{float:left; display:inline; background:url(../images/ico2.jpg) no-repeat left center; padding-left:5px; margin-left:5px;}
div.ty_newslist ul li em{margin-right:20px;}

div.ty_newslist h2{font-size:16px; color:#F00; text-align:center; /*margin-top:20px;*/ border-bottom:1px dashed #ccc; line-height:35px;}
div.ty_newslist span{display:block; text-align:center; line-height:25px;}
div.ty_newslist i{font-style:normal; display:block;}

div.ty_newslist div div div a img{margin-right:80px;}

ul#pro_list{border:none;}
ul#pro_list li{width:153px; background:none; float:left; display:inline; text-align:center; margin-left:7px; margin-top:10px;}
ul#pro_list li a img{border:1px solid #ccc; width:153px; height:153px;}
ul#pro_list li a{background:none;}





















